
/* ========================
    Page Layout
=========================*/

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* ========================
    General Styles
=========================*/

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: rgb(255, 223, 0);
}
/* ========================
    Header Styles
=========================*/

/* ========================
    Main Content Styles
=========================*/

/* ========================
    Footer Styles
=========================*/

/* ========================
    Webfonts
=========================*/

@font-face {
    font-family: 'Abolition Regular';
}

/* ========================
    Media Queries
=========================*/

@media (min-width: 320px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}