
/* ========================
    Page Layout
=========================*/

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* ========================
    General Styles
=========================*/

/* ========================
    Header Styles
=========================*/

/* ========================
    Main Content Styles
=========================*/

/* ========================
    Footer Styles
=========================*/

/* ========================
    Webfonts
=========================*/

@font-face {
    font-family: 'Abolition Regular';
}

/* ========================
    Media Queries
=========================*/

@media (min-width: 320px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}